@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-button {
  background-color: #33753b; /* Button background color */
  color: #F8F6F0; /* Text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth scaling and shadow transition */
}

.hover-button:hover {
  background-color: #85d670;
  transform: scale(1.1); /* Slightly enlarges the button */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow for the pop-up effect */
}